# # VerificationStatus

## Properties

Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**is_verified** | **bool** |  | [optional]
**verification_timestamp** | **\DateTime** |  | [optional]
**verification_method** | **string** |  | [optional]

[[Back to Model list]](../../README.md#models) [[Back to API list]](../../README.md#endpoints) [[Back to README]](../../README.md)
