# VerificationStatus

## Properties

Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**is_verified** | Option<**bool**> |  | [optional]
**verification_timestamp** | Option<**String**> |  | [optional]
**verification_method** | Option<**String**> |  | [optional]

[[Back to Model list]](../README.md#documentation-for-models) [[Back to API list]](../README.md#documentation-for-api-endpoints) [[Back to README]](../README.md)


