

# VerificationStatus

## Properties

Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**isVerified** | **Boolean** |  |  [optional]
**verificationTimestamp** | [**Date**](Date.md) |  |  [optional]
**verificationMethod** | **String** |  |  [optional]




