

# VerificationStatus


## Properties

| Name | Type | Description | Notes |
|------------ | ------------- | ------------- | -------------|
|**isVerified** | **Boolean** |  |  [optional] |
|**verificationTimestamp** | **OffsetDateTime** |  |  [optional] |
|**verificationMethod** | **String** |  |  [optional] |



