# OpenapiClient::VerificationStatus

## Properties

| Name | Type | Description | Notes |
| ---- | ---- | ----------- | ----- |
| **is_verified** | **Boolean** |  | [optional] |
| **verification_timestamp** | **Time** |  | [optional] |
| **verification_method** | **String** |  | [optional] |

## Example

```ruby
require 'openapi_client'

instance = OpenapiClient::VerificationStatus.new(
  is_verified: null,
  verification_timestamp: null,
  verification_method: null
)
```

