# OpenApi.VerificationStatus

## Properties

Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**isVerified** | **Boolean** |  | [optional] 
**verificationTimestamp** | **Date** |  | [optional] 
**verificationMethod** | **String** |  | [optional] 


