=begin
#GComments

#APIs for creating and managing comments 

The version of the OpenAPI document: 1.0.0
Contact: support@comments.app
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.0.1

=end

require 'cgi'

module OpenapiClient
  class PostApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add a new post
    # @param [Hash] opts the optional parameters
    # @option opts [Post] :post Post object that needs to be added
    # @return [nil]
    def add_post(opts = {})
      add_post_with_http_info(opts)
      nil
    end

    # Add a new post
    # @param [Hash] opts the optional parameters
    # @option opts [Post] :post Post object that needs to be added
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def add_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PostApi.add_post ...'
      end
      # resource path
      local_var_path = '/post'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'post'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cm_auth']

      new_options = opts.merge(
        :operation => :"PostApi.add_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PostApi#add_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a post
    # @param post_id [String] Post id to delete
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_key 
    # @return [nil]
    def delete_post(post_id, opts = {})
      delete_post_with_http_info(post_id, opts)
      nil
    end

    # Deletes a post
    # @param post_id [String] Post id to delete
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_key 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_post_with_http_info(post_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PostApi.delete_post ...'
      end
      # verify the required parameter 'post_id' is set
      if @api_client.config.client_side_validation && post_id.nil?
        fail ArgumentError, "Missing the required parameter 'post_id' when calling PostApi.delete_post"
      end
      # resource path
      local_var_path = '/post/{postId}'.sub('{' + 'postId' + '}', CGI.escape(post_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'api_key'] = opts[:'api_key'] if !opts[:'api_key'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cm_auth']

      new_options = opts.merge(
        :operation => :"PostApi.delete_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PostApi#delete_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Find post by ID
    # Returns a single post
    # @param post_id [String] ID of post to return
    # @param [Hash] opts the optional parameters
    # @return [Post]
    def get_post_by_id(post_id, opts = {})
      data, _status_code, _headers = get_post_by_id_with_http_info(post_id, opts)
      data
    end

    # Find post by ID
    # Returns a single post
    # @param post_id [String] ID of post to return
    # @param [Hash] opts the optional parameters
    # @return [Array<(Post, Integer, Hash)>] Post data, response status code and response headers
    def get_post_by_id_with_http_info(post_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PostApi.get_post_by_id ...'
      end
      # verify the required parameter 'post_id' is set
      if @api_client.config.client_side_validation && post_id.nil?
        fail ArgumentError, "Missing the required parameter 'post_id' when calling PostApi.get_post_by_id"
      end
      # resource path
      local_var_path = '/post/{postId}'.sub('{' + 'postId' + '}', CGI.escape(post_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Post'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['api_key']

      new_options = opts.merge(
        :operation => :"PostApi.get_post_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PostApi#get_post_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an existing post
    # @param [Hash] opts the optional parameters
    # @option opts [Post] :post Post object that needs to be added
    # @return [nil]
    def update_post(opts = {})
      update_post_with_http_info(opts)
      nil
    end

    # Update an existing post
    # @param [Hash] opts the optional parameters
    # @option opts [Post] :post Post object that needs to be added
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def update_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PostApi.update_post ...'
      end
      # resource path
      local_var_path = '/post'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'post'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cm_auth']

      new_options = opts.merge(
        :operation => :"PostApi.update_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PostApi#update_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates a post with form data
    # @param post_id [String] ID of post that needs to be updated
    # @param [Hash] opts the optional parameters
    # @option opts [String] :title 
    # @option opts [String] :url 
    # @option opts [String] :excerpt 
    # @option opts [String] :content 
    # @option opts [String] :comment_status 
    # @option opts [String] :post_type 
    # @return [nil]
    def update_post_with_form(post_id, opts = {})
      update_post_with_form_with_http_info(post_id, opts)
      nil
    end

    # Updates a post with form data
    # @param post_id [String] ID of post that needs to be updated
    # @param [Hash] opts the optional parameters
    # @option opts [String] :title 
    # @option opts [String] :url 
    # @option opts [String] :excerpt 
    # @option opts [String] :content 
    # @option opts [String] :comment_status 
    # @option opts [String] :post_type 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def update_post_with_form_with_http_info(post_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PostApi.update_post_with_form ...'
      end
      # verify the required parameter 'post_id' is set
      if @api_client.config.client_side_validation && post_id.nil?
        fail ArgumentError, "Missing the required parameter 'post_id' when calling PostApi.update_post_with_form"
      end
      allowable_values = ["Disabled", "RequireReview", "AutomateReview"]
      if @api_client.config.client_side_validation && opts[:'comment_status'] && !allowable_values.include?(opts[:'comment_status'])
        fail ArgumentError, "invalid value for \"comment_status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/post/{postId}'.sub('{' + 'postId' + '}', CGI.escape(post_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/x-www-form-urlencoded'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['title'] = opts[:'title'] if !opts[:'title'].nil?
      form_params['url'] = opts[:'url'] if !opts[:'url'].nil?
      form_params['excerpt'] = opts[:'excerpt'] if !opts[:'excerpt'].nil?
      form_params['content'] = opts[:'content'] if !opts[:'content'].nil?
      form_params['commentStatus'] = opts[:'comment_status'] if !opts[:'comment_status'].nil?
      form_params['postType'] = opts[:'post_type'] if !opts[:'post_type'].nil?

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cm_auth']

      new_options = opts.merge(
        :operation => :"PostApi.update_post_with_form",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PostApi#update_post_with_form\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
