# openapi.model.VerificationStatus

## Load the model package
```dart
import 'package:openapi/api.dart';
```

## Properties
Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**isVerified** | **bool** |  | [optional] 
**verificationTimestamp** | [**DateTime**](DateTime.md) |  | [optional] 
**verificationMethod** | **String** |  | [optional] 

[[Back to Model list]](../README.md#documentation-for-models) [[Back to API list]](../README.md#documentation-for-api-endpoints) [[Back to README]](../README.md)


